.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokeTitle {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .pokeTitle img {
    width: 26rem;
  }
}

.pokeTitle img {
  margin: 1.5rem;
}

#pokeName {
  padding-left: 0.5rem;
  width: 80%;
  border: 2px solid black;
}

#pokeImage {
  flex: 1;
  border-radius: 2%;
}

.pokeCard {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 0.8rem solid rgb(236, 236, 40);
  border-radius: 3%;
  align-items: center;
  width: 20%;
  height: 28rem;
  flex-direction: column;
  margin: 1.5rem 0px;
  font-size: larger;
}

@media screen and (max-width: 800px) {
  .pokeCard {
    font-size: medium;
    width: 40%;
    height: 20rem;
  }
}

.viewButton {
  opacity: 0.8;
  height: 2.5rem;
  margin: 1.5rem;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stats :nth-child(1),
.stats :nth-child(2) {
  flex: 1;
  text-align: center;
}

#grass {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(112, 253, 45, 1) 100%
  );
}

#fire {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 66, 41, 1) 100%
  );
}

#water {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(104, 144, 240, 1) 100%
  );
}

#electric {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 204, 0, 1) 100%
  );
}

#psychic {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(142, 0, 163, 1) 100%
  );
}

#fighting {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(135, 34, 29, 1) 100%
  );
}

#ground {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(116, 60, 20, 1) 100%
  );
}

#normal {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(236, 201, 156) 100%
  );
}

#poison {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 80, 127, 1) 100%
  );
}

#bug {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(34, 102, 0, 1) 100%
  );
}

#ice {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(51, 238, 225, 1) 100%
  );
}

#rock {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(139, 138, 138, 1) 100%
  );
}

#dragon {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(195, 188, 46, 1) 100%
  );
}

#ghost {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(55, 55, 55, 1) 100%
  );
}
