body {
  font-family: "Afacad", sans-serif;
  background-color: bisque;
}

#grass {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(112, 253, 45, 1) 100%
  );
}

#fire {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 66, 41, 1) 100%
  );
}

#water {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(104, 144, 240, 1) 100%
  );
}

#electric {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 204, 0, 1) 100%
  );
}

#psychic {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(142, 0, 163, 1) 100%
  );
}

#fighting {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(135, 34, 29, 1) 100%
  );
}

#ground {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(116, 60, 20, 1) 100%
  );
}

#normal {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(236, 201, 156) 100%
  );
}

#poison {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 80, 127, 1) 100%
  );
}

#bug {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(34, 102, 0, 1) 100%
  );
}

#ice {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(51, 238, 225, 1) 100%
  );
}

#rock {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(139, 138, 138, 1) 100%
  );
}

#dragon {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(195, 188, 46, 1) 100%
  );
}

#ghost {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(55, 55, 55, 1) 100%
  );
}

#fairy {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 41, 190) 100%
  );
}
