.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokeTitle {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .pokeTitle img {
    width: 26rem;
  }
}

.pokeTitle img {
  margin: 1.5rem;
}
